header .navbar {
    min-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 20px -20px;
}

header .navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    color: #32aec0 !important;
}

header .nav-link {
    margin-right: 15px;
    color: #131b31 !important;
}

header .nav-link:hover {
    color: #32aec0 !important;
}

header .nav-link.active {
    color: #32aec0 !important;
}

header .btn {
    margin-right: 10px;
    height: 42px;
    width: 100px;
}