<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kyulearn - Digital Courses</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Images/onl-img/logo-circle.png" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="~/Content/tiny-slider.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap" rel="stylesheet">

    <link href="~/Content/sb-admin-2.css" rel="stylesheet">
</head>

<body>
    <div class="spanner d-flex flex-column show">
        @*<div class="m-auto">
            <div class="loader"></div>
            <p>loading, please wait..</p>
        </div>*@
    </div>
    <nav class="navbar sticky-top navbar-light bg-light navbar-expand-lg" aria-label="Third navbar example">
        <div class="container">
            <a class="navbar-brand" href="Home.html"><img src="~/Images/onl-img/logo-white.svg" class="img-logo"></a>
            <div class="d-flex d-lg-none col-auto ms-auto me-3">
                <button type="button" class="btn pe-0">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8698 0C15.3119 0 19.7386 4.42666 19.7386 9.86878C19.7386 12.4364 18.7532 14.7781 17.1408 16.5356L20.3136 19.7018C20.6105 19.9987 20.6116 20.4791 20.3146 20.776C20.1667 20.926 19.9711 21 19.7765 21C19.5829 21 19.3883 20.926 19.2394 20.7781L16.0283 17.5759C14.3391 18.9287 12.1973 19.7386 9.8698 19.7386C4.42768 19.7386 0 15.3109 0 9.86878C0 4.42666 4.42768 0 9.8698 0ZM9.8698 1.52015C5.26578 1.52015 1.52015 5.26477 1.52015 9.86878C1.52015 14.4728 5.26578 18.2184 9.8698 18.2184C14.4728 18.2184 18.2184 14.4728 18.2184 9.86878C18.2184 5.26477 14.4728 1.52015 9.8698 1.52015Z" fill="#333333" />
                    </svg>
                </button>
                <button type="button" class="btn pe-0 position-relative">
                    <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.13065 21.6877C8.04412 21.6877 8.78743 22.4297 8.78743 23.3432C8.78743 24.2567 8.04412 25 7.13065 25C6.21718 25 5.47514 24.2567 5.47514 23.3432C5.47514 22.4297 6.21718 21.6877 7.13065 21.6877ZM21.5623 21.6877C22.4771 21.6877 23.2204 22.4297 23.2204 23.3432C23.2204 24.2567 22.4771 25 21.5623 25C20.6488 25 19.9068 24.2567 19.9068 23.3432C19.9068 22.4297 20.6488 21.6877 21.5623 21.6877ZM1.66032 0.0121374L4.32141 0.47271C4.75 0.548193 5.07624 0.903857 5.11334 1.33884L5.41399 4.92235L6.53197 4.92284C6.7144 4.92292 6.8949 4.923 7.07349 4.92308L9.12598 4.92405C9.28959 4.92414 9.45137 4.92422 9.61133 4.9243L11.8776 4.92554C12.02 4.92563 12.1606 4.92571 12.2996 4.92579L13.8877 4.92681C14.0136 4.92689 14.1378 4.92698 14.2604 4.92706L15.6572 4.92809C15.7675 4.92818 15.8763 4.92826 15.9836 4.92835L17.2015 4.9294C17.2973 4.92949 17.3917 4.92957 17.4847 4.92966L18.2851 4.93046C18.3701 4.93055 18.4537 4.93063 18.536 4.93072L19.463 4.9318C19.5353 4.93189 19.6064 4.93198 19.6763 4.93207L20.4589 4.93316C20.5196 4.93326 20.5792 4.93335 20.6377 4.93344L21.1351 4.93427C21.1872 4.93436 21.2383 4.93446 21.2884 4.93455L21.8425 4.93567C21.8849 4.93577 21.9263 4.93586 21.9669 4.93595L22.3079 4.93681C22.3432 4.9369 22.3776 4.937 22.4113 4.93709L22.7769 4.93825C22.8043 4.93834 22.8309 4.93844 22.8569 4.93854L23.0715 4.93941C23.0934 4.93951 23.1145 4.93961 23.1351 4.93971L23.3522 4.94089C23.368 4.94099 23.3832 4.94109 23.3979 4.94119L23.5162 4.94209C23.5279 4.94219 23.5391 4.94229 23.5499 4.94239L23.6351 4.94329C23.6433 4.9434 23.6511 4.9435 23.6586 4.9436L23.7166 4.94452C23.7221 4.94462 23.7272 4.94472 23.7321 4.94482L23.7688 4.94575C23.7721 4.94586 23.7752 4.94596 23.7781 4.94606L23.8047 4.94732C23.8063 4.94742 23.8078 4.94753 23.8092 4.94763C23.8217 4.9488 23.8235 4.94901 23.8254 4.94922C24.538 5.05285 25.1649 5.42515 25.5922 5.9983C26.0195 6.57018 26.1986 7.27511 26.0963 7.98133L24.8821 16.3714C24.6531 17.9681 23.2663 19.172 21.6543 19.172H7.68231C5.99738 19.172 4.57089 17.8568 4.434 16.1744L3.26209 2.23696L1.33409 1.90432C0.810824 1.81221 0.461556 1.31709 0.551112 0.793832C0.643227 0.27057 1.14858 -0.0697422 1.66032 0.0121374ZM6.2753 6.84184L5.57519 6.84141L6.34665 16.017C6.40294 16.7232 6.97994 17.2529 7.68487 17.2529H21.6517C22.3183 17.2529 22.8876 16.7565 22.9823 16.0976L24.1977 7.70626C24.2258 7.50668 24.1759 7.3071 24.0544 7.1459C23.9341 6.98342 23.7576 6.87851 23.558 6.85036C23.5488 6.85072 23.5267 6.85104 23.4923 6.85133L23.3532 6.85213C23.3241 6.85225 23.2921 6.85236 23.2572 6.85246L22.5324 6.85357C22.4713 6.85361 22.4077 6.85365 22.3418 6.85368L20.6377 6.85361C20.5426 6.85357 20.4457 6.85353 20.3471 6.85349L18.4024 6.85231C18.2858 6.85222 18.168 6.85213 18.0491 6.85204L16.9486 6.85116C16.8233 6.85106 16.697 6.85095 16.5698 6.85084L15.4042 6.84982C15.2726 6.8497 15.1403 6.84958 15.0075 6.84946L14.2046 6.84872C14.0699 6.8486 13.9348 6.84847 13.7994 6.84834L12.5741 6.8472C12.4375 6.84707 12.3008 6.84694 12.1641 6.84682L11.3445 6.84605C11.2081 6.84593 11.0718 6.8458 10.9358 6.84568L10.1231 6.84494C9.98837 6.84482 9.85399 6.8447 9.72007 6.84458L8.52961 6.84356C8.39921 6.84345 8.26951 6.84334 8.1406 6.84324L6.63616 6.84209C6.51475 6.84201 6.39444 6.84192 6.2753 6.84184ZM19.5969 9.65129C20.1266 9.65129 20.5565 10.0812 20.5565 10.6108C20.5565 11.1405 20.1266 11.5703 19.5969 11.5703H16.0505C15.5196 11.5703 15.091 11.1405 15.091 10.6108C15.091 10.0812 15.5196 9.65129 16.0505 9.65129H19.5969Z" fill="#333333" />
                    </svg>
                    <svg class="position-absolute top-0" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg"
                         style="right: -5;">
                        <circle cx="7" cy="9" r="7" fill="#EB5757"></circle>
                        <path d="M5.54 5.5V4.252H8.036V13H6.656V5.5H5.54Z" fill="white"></path>
                    </svg>
                </button>
            </div>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="navbar-collapse collapse" id="navbarsExample03">
                <ul class="navbar-nav">
                    <li class="nav-item"> <a class="nav-link" aria-current="page" href="/Home/Index">Home</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/Course/CourseIndex">Course</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Documents</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="help.html">Help</a> </li>
                </ul>
                <div class="d-flex flex-wrap d-lg-none">
                    <a type="button" class="btn w-50" href="/Home/Register">Sign Up</a>
                    <a type="button" class="btn btn-primary w-50" href="/Home/login">Login</a>
                </div>
            </div>
            <div class="d-none d-lg-flex align-items-center">
                <button type="button" class="btn me-2">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8698 0C15.3119 0 19.7386 4.42666 19.7386 9.86878C19.7386 12.4364 18.7532 14.7781 17.1408 16.5356L20.3136 19.7018C20.6105 19.9987 20.6116 20.4791 20.3146 20.776C20.1667 20.926 19.9711 21 19.7765 21C19.5829 21 19.3883 20.926 19.2394 20.7781L16.0283 17.5759C14.3391 18.9287 12.1973 19.7386 9.8698 19.7386C4.42768 19.7386 0 15.3109 0 9.86878C0 4.42666 4.42768 0 9.8698 0ZM9.8698 1.52015C5.26578 1.52015 1.52015 5.26477 1.52015 9.86878C1.52015 14.4728 5.26578 18.2184 9.8698 18.2184C14.4728 18.2184 18.2184 14.4728 18.2184 9.86878C18.2184 5.26477 14.4728 1.52015 9.8698 1.52015Z" fill="#333333" />
                    </svg>
                </button>
                <span style="border-left: 1px solid #cecece;" class="py-2"></span>
                <a type="button" class="btn px-4 mx-2" href="/Home/Register">Sign Up</a>
                <a type="button" class="btn btn-primary px-5" href="/Home/login">Login</a>
            </div>
        </div>
    </nav>

    <div id="page-wrapper">
        @RenderBody()
    </div>

    <div class="py-3 px-3 px-sm-0 col-12" style="background-color: #F2F2F2;">
        <div class="container d-flex flex-wrap justify-content-start pt-3 px-0">
            <div class="col-12 col-md-3 mb-3 text-center text-md-start">
                <div class="row col-12 justify-content-center justify-content-lg-start mb-4"> <img src="~/Images/onl-img/logo-circle.svg" class="col-auto" width="150" height="150"> </div>
            </div>
            <div class="col-6 col-md-3 mb-3">
                <h5>Company</h5>
                <ul class="list-group">
                    <li class="list-group-item border-0 bg-transparent px-0 pb-0"> <a href="#" class="text-decoration-none">About</a> </li>
                    <li class="list-group-item border-0 bg-transparent px-0 pb-0"> <a href="#" class="text-decoration-none">Career</a> </li>
                    <li class="list-group-item border-0 bg-transparent px-0 pb-0"> <a href="#" class="text-decoration-none">FAQ</a> </li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-3">
                <h5>Contact</h5>
                <ul class="list-group">
                    <li class="list-group-item border-0 bg-transparent px-0 pb-0"> <a href="#" class="text-decoration-none">Help</a> </li>
                    <li class="list-group-item border-0 bg-transparent px-0 pb-0"> <a href="#" class="text-decoration-none">Press</a> </li>
                    <li class="list-group-item border-0 bg-transparent px-0 pb-0"> <a href="#" class="text-decoration-none">Affiliates</a> </li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-3">
                <h5>More</h5>
                <ul class="list-group">
                    <li class="list-group-item border-0 bg-transparent px-0 pb-0"> <a href="#" class="text-decoration-none">Product</a> </li>
                    <li class="list-group-item border-0 bg-transparent px-0 pb-0"> <a href="#" class="text-decoration-none">Course</a> </li>
                    <li class="list-group-item border-0 bg-transparent px-0 pb-0"> <a href="#" class="text-decoration-none">Teacher</a> </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/tiny-slider.js"></script>
    <script src="~/Scripts/isotope.min.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>

</html>
