@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="bg-light pt-3 pb-5 px-3 px-sm-0 col-12">
    <div class="container text-center d-flex flex-wrap justify-content-center">
        <h1 class="mb-4 col-12" style="font-weight: 600;">
            All-in-One <span class="text-primary">Course Platform</span>
        </h1>
        <p class="col-12 col-md-6 mb-5" style="font-size: .825rem;color: #828282;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra fringilla vitae in commodo pretium. Enim viverra bibendum sit in mauris, eget mauris et. Lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. et. Lacus. </p>
        <div class="row justify-content-between w-100">
            <div class="col-12 col-md-4 mb-3 px-0 px-sm-3">
                <div class="card border-0" style="border-radius: 15px;">
                    <div class="pt-3 pb-3"> <img src="~/Images/off-img/customer-care.png" class="img-fluid" alt="icon" style="object-fit: contain;object-position: center;width: 90px;height: 90px;"> </div>
                    <div class="card-body px-4">
                        <h4 class="card-title mb-3">Fast Customer Care</h4>
                        <p class="card-text" style="font-size: .875rem;color: #828282;"> Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3 px-0 px-sm-3">
                <div class="card border-0 bg-primary text-white" style="border-radius: 15px;box-shadow: 0px 42px 34px rgba(82, 67, 194, 0.295755);">
                    <div class="pt-3 pb-3"> <img src="~/Images/off-img/price-tag.png" class="img-fluid" alt="icon" style="object-fit: contain;object-position: center;width: 90px;height: 90px;"> </div>
                    <div class="card-body px-4">
                        <h4 class="card-title mb-3">Harga Terjangkau</h4>
                        <p class="card-text" style="font-size: .875rem;"> Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3 px-0 px-sm-3">
                <div class="card border-0" style="border-radius: 15px;">
                    <div class="pt-3 pb-3"> <img src="~/Images/off-img/mentor.png" class="img-fluid" alt="icon" style="object-fit: contain;object-position: center;width: 90px;height: 90px;"> </div>
                    <div class="card-body px-4">
                        <h4 class="card-title mb-3">Mentor Profesional</h4>
                        <p class="card-text" style="font-size: .875rem;color: #828282;"> Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light pt-3 pb-5 px-3 px-sm-0 col-12">
    <div class="container d-flex flex-wrap justify-content-center px-0">
        <p class="text-center text-md-start text-primary col-12 mb-2" style="font-size: .825rem;">Course</p>
        <h4 class="mb-4 col-12 text-center text-md-start" style="font-weight: 600;">Popular  Category for you</h4>
        <div class="row justify-content-between w-100">
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card border-0">
                    <div class="pt-3 pb-3 px-3 text-start"> <img src="~/Images/off-img/ui-ux-course.png" class="img-fluid" alt="icon" style="object-fit: contain;object-position: center;width: 90px;height: 90px;"> </div>
                    <div class="card-body px-3">
                        <h5 class="card-title mb-3 text-start">Belajar UI/UX</h5>
                        <p class="card-text text-start" style="font-size: .875rem;color: #828282;">UI/UX Beginner</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card border-0">
                    <div class="pt-3 pb-3 px-3 text-start"> <img src="~/Images/off-img/code-course.png" class="img-fluid" alt="icon" style="object-fit: contain;object-position: center;width: 90px;height: 90px;"> </div>
                    <div class="card-body px-3">
                        <h5 class="card-title mb-3 text-start">Belajar Programming</h5>
                        <p class="card-text text-start" style="font-size: .875rem;color: #828282;">HTML, CSS, Javascript Beginner</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card border-0">
                    <div class="pt-3 pb-3 px-3 text-start"> <img src="~/Images/off-img/cloud-course.png" class="img-fluid" alt="icon" style="object-fit: contain;object-position: center;width: 90px;height: 90px;"> </div>
                    <div class="card-body px-3">
                        <h5 class="card-title mb-3 text-start">Belajar Cloud Server</h5>
                        <p class="card-text text-start" style="font-size: .875rem;color: #828282;">Cloud Server Beginner</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card border-0">
                    <div class="pt-3 pb-3 px-3 text-start"> <img src="~/Images/off-img/blockchain-course.png" class="img-fluid" alt="icon" style="object-fit: contain;object-position: center;width: 90px;height: 90px;"> </div>
                    <div class="card-body px-3">
                        <h5 class="card-title mb-3 text-start">Belajar Blockchain</h5>
                        <p class="card-text text-start" style="font-size: .875rem;color: #828282;">Blockchain Beginner</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light pt-3 pb-5 px-3 px-sm-0 col-12">
    <div class="container d-flex flex-wrap justify-content-center px-0">
        <div class="col-12 d-flex flex-wrap justify-content-between align-items-center mb-4">
            <div class="col-auto">
                <h4 class="text-start" style="font-weight: 600;">Trending Course</h4>
            </div>
            <div class="col-auto">
                <button id="popularLeftArrow" class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                <button id="popularRightArrow" class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
        <div id="popularSlider" class="row px-3 justify-content-center">
            <div class="col-3">
                <div class="card border-0 h-100">
                    <img src="~/Images/off-img/doughnut.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="course-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6>Complete Guide to Realistic Food Creation in Blender</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">Michele</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">4.5 (50)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start" style="color: #828282;">3D Design</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start text-primary" style="font-weight: 600;">$30</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0 h-100">
                    <img src="~/Images/off-img/vfx.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="course-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6>VFX Masterclass with After Effect &amp; Cinema 4D</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-start" style="font-size: .8rem;color: #828282;">Eduard</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-start" style="font-size: .8rem;color: #828282;">4.9 (99)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start" style="color: #828282;">VFX</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start text-primary" style="font-weight: 600;">$89</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0 h-100">
                    <img src="~/Images/off-img/doodles.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="course-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6>Doodle-ing Monsters with Ilustrator</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-start" style="font-size: .8rem;color: #828282;">Tara</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-start" style="font-size: .8rem;color: #828282;">4.5 (40)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start" style="color: #828282;">Ilustration</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary" style="font-weight: 600;">$25</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0 h-100">
                    <img src="~/Images/off-img/abstract-art.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="course-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6>Complete guide to create artistic abstract painting</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">Dali</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">4.7 (70)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start" style="color: #828282;">Painting</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary" style="font-weight: 600;">$50</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0 h-100">
                    <img src="~/Images/off-img/code.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="course-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6>Clone Ruanggulag App with Kotlin &amp; Flutter</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">Hilman</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">4.9 (99)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start" style="color: #828282;">Programming</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary" style="font-weight: 600;">$90</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0 h-100">
                    <img src="~/Images/off-img/sketch.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="course-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6>Sketch up sureallist art with sketcher</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">David</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">4.0 (20)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start" style="color: #828282;">Drawing</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary" style="font-weight: 600;">$35</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0 h-100">
                    <img src="~/Images/off-img/scrum-master.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="course-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6>Mastering Scrum Master in 10 Minutes</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">Luhut</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">4.1 (60)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start" style="color: #828282;">Management</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary" style="font-weight: 600;">$39</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0 h-100">
                    <img src="~/Images/off-img/office.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="course-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6>How to run startup with interns troop only</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">Beldev</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">2.5 (40)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start" style="color: #828282;">Management</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary" style="font-weight: 600;">$60</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light pt-3 pb-5 px-3 px-sm-0 col-12">
    <div class="container d-flex flex-wrap justify-content-center px-0">
        <h4 class="col-12 text-start mb-3" style="font-weight: 600;">All Courses</h4>
        <div class="col-12 d-flex flex-wrap justify-content-between align-items-center mb-4">
            <div id="filterButtons" class="d-flex flex-row col-12 col-md-auto overflow-auto p-1">
                <a href="#" data-filter="*" class="btn btn-secondary px-4 me-2 col-auto mb-2">All Course</a>
                <a href="#" data-filter=".design" class="btn bg-white px-4 me-2 col-auto mb-2">Design</a>
                <a href="#" data-filter=".coding" class="btn bg-white px-4 me-2 col-auto mb-2">Coding</a>
                <a href="#" data-filter=".art" class="btn bg-white px-4 me-2 col-auto mb-2">Art</a>
                <a href="#" data-filter=".management" class="btn bg-white px-4 me-2 col-auto mb-2">Management</a>
            </div>
            <div class="col-12 col-md-auto text-end mt-3 mt-md-0">
                <a class="link-primary" style="font-weight: 600;" href="/courses.html">Show All</a>
            </div>
        </div>
        <div id="filterCardArea" data-isotope='{ "itemSelector": ".card-theme", "layoutMode": "fitRows" }' class="row justify-content-between w-100">
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 card-theme design">
                <div class="card border-0">
                    <img src="~/Images/off-img/doughnut.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="course-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6>Complete Guide to Realistic Food Creation in Blender</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">Michele</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">4.5 (50)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start" style="color: #828282;">3D Design</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary" style="font-weight: 600;">$30</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 card-theme design">
                <div class="card border-0">
                    <img src="~/Images/off-img/vfx.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="course-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6>VFX Masterclass with After Effect &amp; Cinema 4D</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">Eduard</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">4.9 (99)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start" style="color: #828282;">VFX</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary" style="font-weight: 600;">$89</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 card-theme design art">
                <div class="card border-0">
                    <img src="~/Images/off-img/doodles.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="course-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6>Doodle-ing Monsters with Ilustrator</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">Tara</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">4.5 (40)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start" style="color: #828282;">Ilustration</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary" style="font-weight: 600;">$25</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 card-theme art">
                <div class="card border-0">
                    <img src="~/Images/off-img/abstract-art.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="course-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6>Complete guide to create artistic abstract painting</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">Dali</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">4.7 (70)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start" style="color: #828282;">Painting</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary" style="font-weight: 600;">$50</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 card-theme coding">
                <div class="card border-0">
                    <img src="~/Images/off-img/code.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="course-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6>Clone Ruanggulag App with Kotlin &amp; Flutter</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">Hilman</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">4.9 (99)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start" style="color: #828282;">Programming</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary" style="font-weight: 600;">$90</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 card-theme art">
                <div class="card border-0">
                    <img src="~/Images/off-img/sketch.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="course-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6>Sketch up sureallist art with sketcher</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">David</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">4.0 (20)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start" style="color: #828282;">Drawing</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary" style="font-weight: 600;">$35</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 card-theme management">
                <div class="card border-0">
                    <img src="~/Images/off-img/scrum-master.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="course-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6>Mastering Scrum Master in 10 Minutes</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">Luhut</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">4.1 (60)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start" style="color: #828282;">Management</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary" style="font-weight: 600;">$39</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 card-theme management">
                <div class="card border-0">
                    <img src="~/Images/off-img/office.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="course-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6>How to run startup with interns troop only</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">Beldev</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start" style="font-size: .8rem;color: #828282;">2.5 (40)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-start" style="color: #828282;">Management</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary" style="font-weight: 600;">$60</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light pt-3 pb-5 px-3 px-sm-0 col-12">
    <div class="container pt-0 pb-0 pt-lg-5">
        <div id="testimoniesSlider">
            <div>
                <div class="d-flex flex-wrap align-items-center">
                    <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end align-items-center position-relative mb-4">
                        <img class="width-xs-inherit" src="~/Images/off-img/student.png">
                    </div>
                    <div class="col-12 col-lg-6 order-lg-first">
                        <h1 class="mb-3">Our Student Voices</h1>
                        <p class="mb-3">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet congue aliquam, fermentum arcu. Pharetra eget duis luctus in nec leo quam vestibulum. Ut quam vulputate turpis tincidunt posuere mor ipsum dolor sit amet, consectetur adipiscing elit. Aliquet congue aliquam, fermentum arcu. Pharetra eget duis luctus in nec leo quam vestibulum. Ut quam vulputate turpis tincidunt posuere morb!”</p>
                        <div class="d-flex flex-wrap align-items-center mt-5">
                            <h5 class="col-12" style="font-weight: 600;">Risqi Assegaf</h5>
                            <p>Manager at Kyulearn</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="d-flex flex-wrap align-items-center">
                    <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end align-items-center position-relative mb-4">
                        <img class="width-xs-inherit" src="~/Images/off-img/student.png">
                    </div>
                    <div class="col-12 col-lg-6 order-lg-first">
                        <h1 class="mb-3">Our Student Voices</h1>
                        <p class="mb-3">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet congue aliquam, fermentum arcu. Pharetra eget duis luctus in nec leo quam vestibulum. Ut quam vulputate turpis tincidunt posuere mor ipsum dolor sit amet, consectetur adipiscing elit. Aliquet congue aliquam, fermentum arcu. Pharetra eget duis luctus in nec leo quam vestibulum. Ut quam vulputate turpis tincidunt posuere morb!”</p>
                        <div class="d-flex flex-wrap align-items-center mt-5">
                            <h5 class="col-12" style="font-weight: 600;">Khalil Gibran</h5>
                            <p>Chief Technology Officer at Kyulearn</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex flex-wrap justify-content-end align-items-center mb-4">
            <div class="col-auto me-3">
                <strong> <span id="currentSlide">0</span> / <span id="endSlide">0</span> </strong>
            </div>
            <div class="col-auto">
                <button id="testimoniesLeftArrow" class="btn" style="-webkit-clip-path: circle();clip-path: circle();">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button id="testimoniesRightArrow" class="btn" style="-webkit-clip-path: circle();clip-path: circle();">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="bg-light pb-5 px-3 px-sm-0 col-12">
    <div class="container d-flex flex-wrap justify-content-center px-0">
        <div class="bg-primary text-white row col-12 col-lg-10 rounded-3 justify-content-center p-4 p-sm-5">
            <div class="col-12 col-lg-6 d-flex flex-wrap justify-content-center align-items-center mb-4 mb-lg-0 text-center text-lg-start">
                <h3>Are you ready to join the Course Now?</h3>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-wrap justify-content-center align-items-center">
                <button class="btn btn-light btn-lg col-12 col-md-8 fs-6">Sign Up</button>
            </div>
        </div>
    </div>
</div>


