
@{
    ViewBag.Title = "CourseIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-light py-5 pb-5 px-3 px-sm-0 col-12">
    <div class="container px-0 overflow-hidden" style="background-color: #E5E5E5;border-radius:15px;">
        <div id="courseHero">
            <div class="bg-primary text-white">
                <div class="d-flex flex-wrap align-items-start py-lg-5 overflow-hidden rounded-3 p-3">
                    <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end align-items-center position-relative mb-4 pt-4">
                        <img class="idea-img width-xs-inherit position-absolute" src="~/Images/off-img/user2-bubble.png">
                        <img src="~/Images/off-img/user2.png" class="width-xs-inherit top-0 position-lg-absolute" style="right: 25;z-index: 2;">
                    </div>
                    <div class="col-12 col-lg-6 order-lg-first">
                        <h1 class="mb-3">Find various course that suitable for you</h1>
                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat bibendum ultricies adipiscing consectetur lectus. </p>
                        <div class="d-flex flex-wrap align-items-center mt-5">
                            <a class="btn btn-light py-3 px-4 mb-3 me-2" href="#" style="font-weight: 600;">Explore Course</a>
                            <a class="link-light text-decoration-none d-flex align-items-center py-3 px-3 mb-3" href="#"><img src="~/Images/off-img/play-white.svg" class="me-2" height="40" width="40"><strong> Watch Video </strong> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="d-flex flex-wrap align-items-start py-lg-5 overflow-hidden rounded-3 p-3">
                    <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end align-items-center position-relative mb-4 pt-4">
                        <img class="idea-img width-xs-inherit position-absolute" src="~/Images/off-img/user-idea.png">
                        <img src="~/Images/off-img/user.png" class="width-xs-inherit top-0 position-lg-absolute" style="right: 2 ;z-index: 2;">
                    </div>
                    <div class="col-12 col-lg-6 order-lg-first">
                        <h1 class="mb-3">Find various course that suitable for you</h1>
                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat bibendum ultricies adipiscing consectetur lectus. </p>
                        <div class="d-flex flex-wrap align-items-center mt-5">
                            <a class="btn btn-primary py-3 px-4 mb-3 me-2" href="#" style="font-weight: 600;">Explore Course</a>
                            <a class="link-primary text-decoration-none d-flex align-items-center py-3 px-3 mb-3" href="#"><img src="~/Images/off-img/play.svg" class="me-2" height="40" width="40"><strong> Watch Video </strong> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light pt-3 pb-5 px-3 px-sm-0 col-12">
    <div class="container d-flex flex-wrap justify-content-center px-0">
        <div class="d-flex flex-wrap col-12">
            <div class="col-12 col-lg-8 px-1">
                <div class="mb-3 input-group">
                    <input type="text" class="form-control border-0" id="searchInput" placeholder="Search course name or teacher" style="font-size: .9rem;box-shadow: none !important;">
                    <button class="btn btn-primary input-group-text py-3" id="searchBtn">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8698 0C15.3119 0 19.7386 4.42666 19.7386 9.86878C19.7386 12.4364 18.7532 14.7781 17.1408 16.5356L20.3136 19.7018C20.6105 19.9987 20.6116 20.4791 20.3146 20.776C20.1667 20.926 19.9711 21 19.7765 21C19.5829 21 19.3883 20.926 19.2394 20.7781L16.0283 17.5759C14.3391 18.9287 12.1973 19.7386 9.8698 19.7386C4.42768 19.7386 0 15.3109 0 9.86878C0 4.42666 4.42768 0 9.8698 0ZM9.8698 1.52015C5.26578 1.52015 1.52015 5.26477 1.52015 9.86878C1.52015 14.4728 5.26578 18.2184 9.8698 18.2184C14.4728 18.2184 18.2184 14.4728 18.2184 9.86878C18.2184 5.26477 14.4728 1.52015 9.8698 1.52015Z" fill="#FFFFFF"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-4 px-1">
                <div class="input-group col-4 mb-3 col-4">
                    <label class="input-group-text bg-white border-0 py-3 pe-0" for="sortBy" style="font-size: .9rem;color: #cacaca;font-weight: 600;">Sort By :</label>
                    <select class="form-select border-0 py-3 ps-1" id="sortBy" style="font-size: .9rem;box-shadow: none !important;">
                        <option selected="" value="nameAsc">Name (Ascending)</option>
                        <option value="nameDesc">Name (Descending)</option>
                        <option value="highRate">Highest Rating</option>
                        <option value="lowRate">Lowest Rating</option>
                        <option value="highPrice">Highest Price</option>
                        <option value="lowPrice">Lowest Price</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex flex-wrap justify-content-between align-items-center mb-4">
            <div id="filterButtons" class="d-flex flex-row col-12 overflow-auto p-1">
                <a href="#" data-filter="*" class="btn btn-secondary px-4 me-2 col-auto mb-2">All Course</a>
                <a href="#" data-filter=".design" class="btn bg-white px-4 me-2 col-auto mb-2">Design</a>
                <a href="#" data-filter=".coding" class="btn bg-white px-4 me-2 col-auto mb-2">Coding</a>
                <a href="#" data-filter=".art" class="btn bg-white px-4 me-2 col-auto mb-2">Art</a>
                <a href="#" data-filter=".management" class="btn bg-white px-4 me-2 col-auto mb-2">Management</a>
            </div>
        </div>
        <div id="filterCardArea" data-isotope='{ "itemSelector": ".card-theme", "layoutMode": "fitRows" }' class="row justify-content-between w-100">
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 card-theme design">
                <div class="card border-0">
                    <img src="~/Images/off-img/doughnut.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="Courses-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6 class="courseName">Complete Guide to Realistic Food Creation in Blender</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start teacherName" style="font-size: .8rem;color: #828282;">Michele</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start rating" style="font-size: .8rem;color: #828282;">4.5 (50)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-md-start" style="color: #828282;">3D Design</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary price" style="font-weight: 600;">$30</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 card-theme design">
                <div class="card border-0">
                    <img src="~/Images/off-img/vfx.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="Courses-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6 class="courseName">VFX Masterclass with After Effect &amp; Cinema 4D</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start teacherName" style="font-size: .8rem;color: #828282;">Eduard</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start rating" style="font-size: .8rem;color: #828282;">4.9 (99)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-md-start" style="color: #828282;">VFX</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary price" style="font-weight: 600;">$89</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 card-theme design art">
                <div class="card border-0">
                    <img src="~/Images/off-img/doodles.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="Courses-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6 class="courseName">Doodle-ing Monsters with Ilustrator</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start teacherName" style="font-size: .8rem;color: #828282;">Tara</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start rating" style="font-size: .8rem;color: #828282;">4.5 (40)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-md-start" style="color: #828282;">Ilustration</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary price" style="font-weight: 600;">$25</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 card-theme art">
                <div class="card border-0">
                    <img src="~/Images/off-img/abstract-art.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="Courses-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6 class="courseName">Complete guide to create artistic abstract painting</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start teacherName" style="font-size: .8rem;color: #828282;">Dali</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start rating" style="font-size: .8rem;color: #828282;">4.7 (70)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-md-start" style="color: #828282;">Painting</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary price" style="font-weight: 600;">$50</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 card-theme coding">
                <div class="card border-0">
                    <img src="~/Images/off-img/code.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="Courses-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6 class="courseName">Clone Ruanggulag App with Kotlin &amp; Flutter</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start teacherName" style="font-size: .8rem;color: #828282;">Hilman</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start rating" style="font-size: .8rem;color: #828282;">4.9 (99)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-md-start" style="color: #828282;">Programming</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary price" style="font-weight: 600;">$90</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 card-theme art">
                <div class="card border-0">
                    <img src="~/Images/off-img/sketch.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="Courses-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6 class="courseName">Sketch up sureallist art with sketcher</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start teacherName" style="font-size: .8rem;color: #828282;">David</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start rating" style="font-size: .8rem;color: #828282;">4.0 (20)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-md-start" style="color: #828282;">Drawing</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary price" style="font-weight: 600;">$35</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 card-theme management">
                <div class="card border-0">
                    <img src="~/Images/off-img/scrum-master.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="Courses-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6 class="courseName">Mastering Scrum Master in 10 Minutes</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start teacherName" style="font-size: .8rem;color: #828282;">Luhut</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start rating" style="font-size: .8rem;color: #828282;">4.1 (60)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-md-start" style="color: #828282;">Management</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary price" style="font-weight: 600;">$39</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 card-theme management">
                <div class="card border-0">
                    <img src="~/Images/off-img/office.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="Courses-detail.html" class="card-title mb-3 link-primary text-decoration-none">
                            <h6 class="courseName">How to run startup with interns troop only</h6>
                        </a>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <img src="~/Images/off-img/profile.png" class="me-2" width="35" height="35">
                                <p class="card-text text-center text-md-start teacherName" style="font-size: .8rem;color: #828282;">Beldev</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <i class="fas fa-star text-warning me-2"></i>
                                <p class="card-text text-center text-md-start rating" style="font-size: .8rem;color: #828282;">2.5 (40)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-md-start" style="color: #828282;">Management</p>
                            </div>
                            <div class="col-auto d-flex flex-wrap align-items-center">
                                <p class="card-text text-center text-md-start text-primary price" style="font-weight: 600;">$60</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex flex-wrap justify-content-start">
            <ul class="pagination">
                <li class="page-item p-1">
                    <a class="page-link btn border-0" href="#" aria-label="Previous" style="color: #B5B5C3;background-color: #F2F2F2;font-weight: 700;"> <span aria-hidden="true">«</span> </a>
                </li>
                <li class="page-item p-1"><a class="page-link btn btn-primary" href="#" style="font-weight: 700;">1</a></li>
                <li class="page-item p-1"><a class="page-link btn border-0" href="#" style="color: #B5B5C3;background-color: #F2F2F2;font-weight: 700;">2</a></li>
                <li class="page-item p-1"><a class="page-link btn border-0" href="#" style="color: #B5B5C3;background-color: #F2F2F2;font-weight: 700;">3</a></li>
                <li class="page-item p-1">
                    <a class="page-link btn border-0" href="#" aria-label="Next" style="color: #B5B5C3;background-color: #F2F2F2;font-weight: 700;"> <span aria-hidden="true">»</span> </a>
                </li>
            </ul>
        </div>
    </div>
</div>

