
@{
    ViewBag.Title = "CourseDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-light pt-3 pb-5 px-3 px-sm-0 col-12">
    <div class="container d-flex flex-wrap justify-content-center px-0">
        <div class="col-12 col-lg-8 mb-4 mb-lg-0"> <img src="~/Images/off-img/course-video.png" class="img-fluid"> </div>
        <div class="col-12 col-lg-4 px-3">
            <div class="card pt-3 px-2">
                <h5 class="card-title px-1 py-2">Belajar UI/UX Dasar</h5>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent px-1 py-3 border-0">
                        <a href="#" class="row justify-content-start text-decoration-none align-items-center">
                            <div class="col-auto"><strong class="fs-4 mb-0" style="color: #9c9c9c;">01</strong></div>
                            <div class="col-6 col-sm-auto col-lg-6">
                                <p class="mb-0" style="font-size: .9rem;">
                                    10.30 Menit
                                </p>
                                <strong class="mb-0">Mengenal UI/UX</strong>
                            </div>
                            <div class="col-2"><img src="~/Images/off-img/course-play-purple.svg" class="img-fluid"></div>
                        </a>
                        <hr class="d-none">
                    </li>
                    <li class="list-group-item bg-transparent px-1 py-3 border-0">
                        <a href="#" class="row justify-content-start text-decoration-none align-items-center">
                            <div class="col-auto"><strong class="fs-4 mb-0" style="color: #9c9c9c;">02</strong></div>
                            <div class="col-6 col-sm-auto col-lg-6">
                                <p class="mb-0" style="font-size: .9rem;">
                                    5.30 Menit
                                </p>
                                <strong class="mb-0">UI/UX Overview</strong>
                            </div>
                            <div class="col-2"><img src="~/Images/off-img/course-play-purple.svg" class="img-fluid"></div>
                        </a>
                        <hr class="mb-1 d-none">
                    </li>
                    <li class="list-group-item bg-transparent px-1 py-3 border-0">
                        <a href="#" class="row justify-content-start text-decoration-none align-items-center">
                            <div class="col-auto"><strong class="fs-4 mb-0" style="color: #9c9c9c;">03</strong></div>
                            <div class="col-6 col-sm-auto col-lg-6">
                                <p class="mb-0" style="font-size: .9rem;">6.30 Menit</p>
                                <strong class="mb-0">User Experience</strong>
                            </div>
                            <div class="col-2"><img src="~/Images/off-img/course-play-white.svg" class="img-fluid"></div>
                        </a>
                        <hr class="mb-1 d-none">
                    </li>
                    <li class="list-group-item bg-transparent px-1 py-3 border-0">
                        <a href="#" class="row justify-content-start text-decoration-none align-items-center">
                            <div class="col-auto"><strong class="fs-4 mb-0" style="color: #9c9c9c;">04</strong></div>
                            <div class="col-6 col-sm-auto col-lg-6">
                                <p class="mb-0" style="font-size: .9rem;">
                                    15.30 Menit
                                </p>
                                <strong class="mb-0">Fundamental</strong>
                            </div>
                            <div class="col-2"><img src="~/Images/off-img/course-play-white.svg" class="img-fluid"></div>
                        </a>
                        <hr class="mb-1 d-none">
                    </li>
                    <li class="list-group-item bg-transparent px-1 py-3 border-0">
                        <a href="#" class="row justify-content-start text-decoration-none align-items-center">
                            <div class="col-auto"><strong class="fs-4 mb-0" style="color: #9c9c9c;">05</strong></div>
                            <div class="col-6 col-sm-auto col-lg-6">
                                <p class="mb-0" style="font-size: .9rem;">
                                    30.30 Menit
                                </p>
                                <strong class="mb-0">Final Project</strong>
                            </div>
                            <div class="col-2"><img src="~/Images/off-img/course-play-white.svg" class="img-fluid"></div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <button class="btn btn-primary btn-lg w-100" style="border-radius: 0px 0px 10px 10px;">
                    Join Course
                </button>
            </div>
        </div>
    </div>
</div>
<div class="bg-light pt-3 pb-5 px-3 px-sm-0 col-12">
    <div class="container d-flex flex-wrap justify-content-center px-0">
        <div class="col-12">
            <h4>Course Detail</h4>
            <hr>
            <p class="col-12 col-lg-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla magna tellus nunc urna, dui mattis. Etiam massa luctus viverra accumsan vel ac odio. Fusce massa sem morbi ut interdum sollicitudin in placerat. Tempus enim morbi mollis mauris est sem fames. Et dignissim auctor dolor habitant hac tristique. Viverra tempus dolor sed tristique pellentesque ornare. Integer mauris, aenean pretium facilisi. Volutpat lectus duis in consectetur ipsum enim fusce. Vel rhoncus, eu, egestas purus sit. Odio pharetra magna sed leo est porttitor urna bibendum. Eu placerat ut netus quis consequat, malesuada. Pharetra arcu, interdum amet, tellus. Nullam viverra nunc. </p>
        </div>
        <div class="row col-12 px-0">
            <button class="btn col-auto d-flex align-items-center me-3"><i class="far fa-heart text-danger me-3"></i> Add to favorites</button>
            <button class="btn col-auto d-flex align-items-center"><i class="far fa-user me-3"></i>Eduard OV</button>
        </div>
    </div>
</div>
